<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="fr.lip6.pjava.refactor.lambda2for"
         name="fr.lip6.pjava.refactor.lambda2for"
         point="org.eclipse.jdt.ui.cleanUps">
      <cleanUp
            class="fr.lip6.pjava.refactor.Lambda2For"
            id="fr.lip6.pjava.refactor.cleanUp1">
      </cleanUp>
   </extension>

</plugin>
